---
// export const prerender = true;
import { type CollectionEntry, getCollection } from 'astro:content';


//-----------------------------------------------------------------

import Layout from '@layouts/Layout.astro';

import Icon from '@components/_atoms/icons/Icon.astro';
import IndexDiver from "@components/_atoms/IndexDiver.astro";

import Contact from '@components/_organisms/IndexContact.astro';

//-----------------------------------------------------------------

// interface Props {
// 	projectPost: CollectionEntry<'project'>;
// }

export async function getStaticPaths() {

	const project = await getCollection('project');

	return project.map((projectPost) => ({
		params: { slug: projectPost.slug },
		props: { projectPost },
	}));
}

const { projectPost } = Astro.props;
const { Content } = await projectPost.render();
---


<Layout title={projectPost.data.title} description={projectPost.data.description}>
	<div class="flex flex-col">
		
		<div class="flex justify-between">

			<a class="flex items-center gap-4" href="/works/"><Icon icon="arrow-left" />Work</a>
			<div class="flex gap-4">
				{projectPost.data.tags.map((t) => <p class="px-4 py-2 "># {t}</p>)}
			</div>
		
		</div>

		<IndexDiver type="recto" />

		<div class="flex flex-col items-center my-12 gap-16">

			<div class="flex flex-col items-center gap-4">
				<h1 class="text-[68px] font-semibold text-center">{projectPost.data.title}</h1>
				<p class="text-[20px] text-center">{projectPost.data.description}</p>
			</div>
			{projectPost.data.img && <img class="w-[82%] rounded-3xl" src={projectPost.data.img} alt={projectPost.data.img_alt || ''} />}
			
			<div class="w-[80%]"><Content /></div>
			
		</div>

		<IndexDiver type="recto" />
		
		
	</div>
	<Contact />
</Layout>