---
// export const prerender = true;
import { type CollectionEntry, getCollection } from 'astro:content';
import { type Category, categories } from "@data/category";
import { Image, Picture } from "astro:assets";

//-----------------------------------------------------------------


import Layout from "@layouts/Layout.astro";

import Label from "@components/_atoms/label.astro";

import Icon from '@components/_atoms/icons/Icon.astro';
import IndexDiver from "@components/_atoms/IndexDiver.astro";

//-----------------------------------------------------------------

interface Props {
	blogPost: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {

  const blogPost = await getCollection("blog");

  return blogPost.map((blogPost) => ({
    params: { slug: blogPost.slug },
    props: { blogPost },
  }));
}

const { blogPost } = Astro.props;

const { Content } = await blogPost.render();

const category = categories.find(
  (item) => item.slug === blogPost.data.category
) as Category;
---

<Layout title={blogPost.data.title} description={blogPost.data.excerpt}>
	<div class="flex flex-col">
		
		<div class="flex justify-between">

			<a class="flex items-center gap-4" href="/works/"><Icon icon="arrow-left" />Work</a>
			<div class="flex gap-4">
				{blogPost.data.tags.map((t) => <p class="px-4 py-2 "># {t}</p>)}
			</div>
		
		</div>

		<IndexDiver type="recto" />

		<div class="flex flex-col items-center my-12 gap-16">

			<div class="flex flex-col items-center gap-4">
        <Label theme={category.color}>{category.title}</Label>
				<h1 class="text-[48px] font-semibold text-center">{blogPost.data.title}</h1>
				<!-- <p class="text-[20px] text-center">{blogPost.data.description}</p> -->
			</div>
			{blogPost.data.image && <img class="w-[82%] h-[500px] object-cover rounded-3xl" src={blogPost.data.image} alt={blogPost.data.title || ''} />}
			
			<div class="w-[80%] prose prose-stone prose-li:text-white prose-headings:text-white prose-base prose-a:text-blue-600 prose-img:rounded-xl prose-img:w-full">
        <Content />
      </div>

		</div>

		<IndexDiver type="recto" />
		
		
	</div>
	<!-- <Contact /> -->
</Layout>


