---
import type { CollectionEntry } from "astro:content";

import Icon from "@components/_atoms/icons/Icon.astro";

// import { string } from 'astro/zod';

interface Props {
  post: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.post;
---

<li class="workBox">
  <a class="work__imgBox" href={`/work/${slug}`}>
    <img
      src={data.img}
      alt={data.img_alt || ""}
      loading="lazy"
      decoding="async"
    />
  </a>

  <div class="workInfoBox">
    <div class="work__roll">
      {data.tags.map((t: string) => <p>• {t}</p>)}
    </div>
    <div class="work__title-description">
      <!-- <h3>{data.title}</h3> -->
      <p>{data.description}</p>
    </div>
    <div class="work__tecnologias">
      <p>Tecnologías</p>
      <div class="row gap-6">
        {data.tec.map((t: string) => (
          <div class="stack center gap-2">
						<Icon icon={t as any} size="38px" />
						<p class="work__tec-title">{t}</p>
					</div>
				))}
      </div>
    </div>
    <span class="line-h"></span>
    <div class="work__links row gap-4">
      {
        data.links.map((link: string) => {
          return Object.entries(link).map(([key, value]) => {
            return (
              <a class="btn round" href={value} target="_blank">
                {key === "web" ? <p class="btn-text">Ver sitio web</p> : ""}
                <Icon icon={key as any} size="24px" color="var(--gray-0)" />
              </a>
            );
          });
        })
      }
    </div>
  </div>
</li>

<style>
  .workBox {
    display: flex;
    flex-direction: column;
    padding: 28px;
    border-radius: 24px;
    gap: 40px;
  }

  .workBox:nth-child(1) {
    background: rgb(149,29,36);
    background: linear-gradient(125deg, rgba(149,29,36,0.65) 0%, rgba(149,29,36,0.45) 30%, rgba(167,28,28,0.4) 70%, rgba(221,28,28,0.47) 100%);
  }
  .workBox:nth-child(2) {
    background: rgb(76,29,149);
    background: linear-gradient(125deg, rgba(76,29,149,0.6488970588235294) 0%, rgba(76,29,149,0.4724264705882353) 30%, rgba(103,28,199,0.3603816526610645) 70%, rgba(136,28,221,0.46682422969187676) 100%);
  }
  .workBox:nth-child(3) {
    background: rgb(29,63,149);
    background: linear-gradient(125deg, rgba(29,63,149,0.654499299719888) 0%, rgba(29,63,149,0.46682422969187676) 30%, rgba(28,92,167,0.4108018207282913) 70%, rgba(28,128,221,0.46682422969187676) 100%);
  }

  .work__imgBox {
    border-radius: 12px;
    border: 1.5px solid var(--gray-0);
    box-shadow: -3px 3px 0px 0px var(--gray-0);
    max-width: 440px;
    width: 100%;
    background: #fff;
    transition: all .5s;
    /* aspect-ratio: 16/9.5; */
  }

  .work__imgBox:hover{
	
    box-shadow: var(--gray-0) -6px 6px 0px;
    /* box-shadow: #504980 -6px 6px 6px; */
    transition: all .5s;

  }

  .work__imgBox img {
    border-radius: 12px;
    border: 1.5px solid var(--gray-0);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*--------------------------------------------------*/

  .workInfoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }

	.work__roll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 12px 6px 12px;
    gap: 10px;
    border-radius: 22px;
    border: 2px solid var(--gray-0);

    color: var(--gray-0);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .work__title-description h3 {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .work__title-description p {
    color: var(--gray-0);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .work__tecnologias {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: var(--gray-0);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .work__tec-title {
    color: var(--gray-0);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

	/*--------------------------------------------------*/

  @media (min-width: 50em) {
    .workBox {
      flex-direction: row;
      gap: 40px;
    }
  }
</style>