---
// export const prerender = true;
import { type CollectionEntry, getCollection } from 'astro:content';

//-----------------------------------------------------------------

import Layout from '@layouts/Layout.astro';

import Icon from '@components/_atoms/icons/Icon.astro';
import IndexDiver from "@components/_atoms/IndexDiver.astro";

import Contact from '@components/_organisms/IndexContact.astro';

//-----------------------------------------------------------------

interface Props {
	workPost: CollectionEntry<'work'>;
}

export async function getStaticPaths() {

	const work = await getCollection('work');
	
	return work.map((workPost) => ({
		params: { slug: workPost.slug },
		props: { workPost },
	}));
	
}

const { workPost } = Astro.props;
const { Content } = await workPost.render();
---

<Layout title={workPost.data.title} description={workPost.data.description}>
	<div class="flex flex-col">
		
		<div class="flex justify-between">

			<a class="flex items-center gap-4" href="/works/"><Icon icon="arrow-left" />Work</a>
			<div class="flex gap-4">
				{workPost.data.tags.map((t) => <p class="px-4 py-2 "># {t}</p>)}
			</div>
		
		</div>

		<IndexDiver type="recto" />

		<div class="flex flex-col items-center my-12 gap-16">

			<div class="flex flex-col items-center gap-4">
				<h1 class="text-[68px] font-semibold text-center">{workPost.data.title}</h1>
				<p class="text-[20px] text-center">{workPost.data.description}</p>
			</div>
			{workPost.data.img && <img class="w-[82%] rounded-3xl" src={workPost.data.img} alt={workPost.data.img_alt || ''} />}
			
			<div class="w-[80%]"><Content /></div>
			
		</div>

		<IndexDiver type="recto" />
		
		
	</div>
	<Contact />
</Layout>

